<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fixie" version="0.0.1.49" targetFramework="net45" />
  <package id="Fixie" version="0.0.1.162" targetFramework="net45" />
  <package id="Formo" version="1.4.1.24040" targetFramework="net45" />
  <package id="Shouldly" version="2.1.1" targetFramework="net45" />
</packages>