<form name="addProfile" class="custom large-10 push-1" ng-controller="PersonCreateCtrl">
    <fieldset>
        <legend>Join the Creatives</legend>
        <div class="row">
            <div class="large-6 columns">
                <label for="profile-fullName">Full Name
                    <input type="text" id="profile-fullName" name="fullName" ng-model="profile.name" required />
                    <span class="error" ng-show="addProfile.fullname.$error.required">Required!</span>
                </label>
            </div>
            <div class="large-6 columns">
                <label for="profile-email">Email Address
                    <input type="text" id="profile-email" name="email" ng-model="profile.email" required />
                    <span class="error" ng-show="addProfile.email.$error.required">Required!</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>How are you creative? (15-160 characters)
                    <textarea id="profile-bio" name="bio" ng-model="profile.bio" required></textarea>
                    <span class="error" ng-show="addProfile.bio.$error.required">Required!</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Location
                    <select id="profile-location" class="radius" name="location" ng-model="profile.location" ng-options="l.displayName for l in locations" required></select>
                </label>
            </div>
            <div class="large-6 columns">
                <label>Categories</label><br />
                <ul class="large-block-grid-3">
                    <li ng-repeat="category in categories">
                        <label for="profile-category-{{ category.value }}">
                            <input
                                id="profile-category-{{ category.value }}"
                                type="checkbox"
                                value="{{ category.value }}"
                                ng-click="selectCategory(category)"
                                ng-checked="selectedCategories.indexOf(category) != -1">&nbsp;{{ category.displayName }}</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <button ng-click="save()" ng-disabled="addProfile.$invalid" class="radius button right">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
