<div class="row">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">ATX Creatives</a></h1>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li><a href="#/add-profile">Add yourself!</a></li>
                <li class="divider"></li>
                <li><a href="#/categories">Categories</a></li>
                <li><a href="#/locations">Locations</a></li>
                <li><a href="#/random">Random</a></li>
                <li class="divider"></li>
                <li><a href="#/about">About ATX Creatives</a></li>
            </ul>
        </section>
    </nav>
    <div ng-view>
    </div>
</div>
