<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Enumeration" version="2.0.0" targetFramework="net45" />
  <package id="Formo" version="1.4.1.24040" targetFramework="net45" />
  <package id="HeadspringTime" version="1.0.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.1001" targetFramework="net45" />
  <package id="MediatR" version="0.3.0.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="Portable.CommonServiceLocator" version="1.2.2" targetFramework="net45" />
</packages>